

{% extends "blog/Home.html"%}
{% block content %}

<body>
	<div class="jumbotron" style="color:black">
	<h1> <b>
Get latest news on our website
		</b>
	</h1>
	</div>
<center>
<div class='row d-flex justify-content-center'>
    <h1><b> Today News</b></h1>

    {% for post in mylist %}
    <div class="col-12 mt-3 d-flex justify-content-center">
        <div class="card" style="width: 60rem;">
            <div class="card-header">
                <a href="{{ post.url }}">
                    <h3 class="page-header">{{ post.title }}</h3>
                </a>

            </div>
            <div class="card-body">
                <div class="card-text">
                    <p class='date'>
                       <i> Published {{ post.publishedAt }}  by {{ post.author }}</i>
                    </p>
					<img src="{{post.urlToImage}}" height="300px">
                    {{ post.description|linebreaks }}
                </div>
            </div>
        </div>
	</div>
	{% endfor %}</div>
<div align="center">
   <div class="pagination">
    <span class="step-links">
        {% if mylist.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ mylist.number }} of {{ mylist.paginator.num_pages }}.
        </span>

        {% if mylist.has_next %}
		<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
    </span>
</div>
</div></center></body>
{% endblock content%}