<!DOCTYPE html>
{% load static %}
<html>
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login form</title>

<link rel="stylesheet" type="text/css" href="{% static 'blog/login.css' %}">

</head>

<body>

<div id="container">
 <form method="post">
    {% load crispy_forms_tags %}
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit">Login</button>
    <a href="{% url 'register' %}">create account</a> <br>
   <a href="{% url 'home' %}"> Home</a>
  </form>
</div>

</body>
</html>