<!DOCTYPE html>
{% load static %}
<html>
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login form</title>

<link rel="stylesheet" type="text/css" href="{% static 'blog/login.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div align="left">
    <br><br>
<a  class="btn btn-success" href="{% url 'home' %}">Back to Home</a>
</div>
<div id="container">
 <div class="imgcontainer">
    <img src="{% static 'blog/logo.png' %}" width="150px" class="rounded-circle">
 </div><br>
 <form method="post">
    {% load crispy_forms_tags %}
    {% csrf_token %}
    {{ form|crispy }}
    <button  class="btn btn-success" type="submit">Login</button>
    <a class="btn btn-success" href="{% url 'register' %}">create account</a> <br>
  </form>
</div>

</body>
</html>