<!DOCTYPE html>
{% load static %}
<html>
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Registration form</title>

<link rel="stylesheet" type="text/css" href="{% static 'blog/login.css' %}">

</head>

<body>

<div id="container">
<form method="post">
    {% load crispy_forms_tags %}
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit">register up</button>
    <a href="{% url 'login' %}"> Already Account</a>


  </form>
</div>

</body>
</html>